{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="Logout">
            <a class="btn navbar-light btn-light logout" href="{% url 'study_tracker:logout' %}">Logout</a>
        </form>
      </div>
    </div>
  </nav>

<h5>Nama: </h5>
<b>{{name}}</b>

<table>
    <tr>
        <th>Nama Tugas</th>
        <th>Mata Kuliah</th>
        <th>Tipe Tugas</th>
        <th>Tanggal</th>
        <th>Progres</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for assignment in list_of_study %}
    <tr>
        <td>{{assignment.name}}</td>
        <td>{{assignment.lesson}}</td>
        <td>{{assignment.subject}}</td>
        <td>{{assignment.date}}</td>
        <td>{{assignment.progress}}</td>
        <td>{{assignment.description}}</td>
        <td>
            <a href="{% url 'study_tracker:modify_study' assignment.pk %}">
                <button>
                    Ubah
                </button>
            </a>
            <a href="{% url 'study_tracker:delete_study' assignment.pk %}">
                <button>
                    Hapus
                </button>
            </a>
          </td>
    </tr>
{% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br>
<a href="{% url 'study_tracker:logout' %}">
    <button>
        Logout
    </button>
</a>
<a href="{% url 'study_tracker:create_study' %}">
    <button>
        studi baru
    </button>
</a>

{% endblock content %}


